/* სიმაღლე სატესტოდ */

/* body {
    height: 7000px;
} */

/*nav*/
.a-nav {
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;   
}
.underline {
    text-decoration: none;
    position: relative;
}
.underline:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px;
    margin: 0 auto;
	left: 0;
    right: 0;
	width: 80%;
    background: #FF7A00;
    transition:.5s;
}
.underline-hover { 
    text-decoration: none;
    position: relative;
}
.underline-hover:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px;
    margin: 0 auto;
	left: 0;
    right: 0;
    background: #FF7A00;
    transition: all .2s ease-out;
    display: none;
}
.underline-hover:hover:after {
    display: block;
    width: 80%;
}
/*grid*/
.text-align {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.border-r {
    border: none;
}
/* margin-top 102 px */
.mt {
    margin-top: 102px;
}
/*chess cards*/
.orange {
    color: #FF7A00 !important;
}
/* project colour */
.orng {
    color: #FF7A00;
}
.text:hover {
    color: #FF7A00;
}
/* Subscribe */
.orng-btn {
    background-color: #FF7A00;
    border-color: #ff7a00a6;
}
.orng-btn:hover {
    background-color: #ff7a00a6;;
    border-color: #ff7a00a6;
}
/* social */
#lab_social_icon_footer {
  padding: 10px 0;
  background-color: white
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
    transform: scale(1.1);
}

#lab_social_icon_footer .social {
    transform: scale(0.8);
    transition-duration: 0.5s;
}
#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}
/* footer list */
.color {
    color: black;
}
a:hover {
    color: #FF7A00;
}